.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url('https://image.freepik.com/free-photo/old-grunge-dark-textured-wooden-background-the-surface-of-the-old-brown-wood-texture_7182-4.jpg');
  width: 30%;
  color: white;
  padding-top: 50px;

  & &__color {
    color: #bf360c ;
  }
}
